streamlit>=1.40.0
transformers>=4.40.0,<5.0.0
sentence-transformers>=2.7.0
scikit-learn>=1.4.0
spacy>=3.7.0
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl
torch
numpy
pandas
